<div>
    <nav class="option">
        <div class="topnav" align="right">
            <a class="menu" href="doctor">Doctor Registration</a>
            <a class="menu" href="volunteer">Volunteer Registration</a>
            <a class="menu" href="patient">Patient Registration</a>
            <a class="menu" href="">Login</a>
            <a class="menu" href="signUp">Register</a>
        </div>
    </nav>
    <nav class="navigationlist" aria-label="navlist">
        <div class="nav_button" align="right">
            <div class="navigation">
                <a class="navigationmenu" href="who_we_are">Who We Are</a>
                <a class="navigationmenu" href="buildcommunity">Build Community</a>
                <a class="navigationmenu" href="oursuccess">Our Success</a>
                <a class="navigationmenu" href="contact">Contact</a>
                <a class="navigationmenu" href="donate">Donate</a>

            </div>
        </div>
    </nav>
    <div class="logo_position">
        <app-logo></app-logo>
    </div>
    <!-- <app-login></app-login> -->