@import '~ngx-toastr/toastr';
@import url("../node_modules/bootstrap/dist/css/bootstrap.css");

html,
body {
    height: 100%;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

form {
    width: 480px;
    margin-left: 420px;
    line-height: 30px;
    text-justify: auto;
    font-size: 18px;
    background-image: url('./images/starsgif.gif');
    padding: 50px;
    border-radius: 12px;

}

table {
    margin-top: 5vh;
}

table,
td,
tr,
th {
    border: 1px solid;
    background-image: url('./images/green.jpg');
    padding: 10px;
}