<div class="main">
        <div class="doctorContainer">
                <form [formGroup]="doctorform" (ngSubmit)="doctorDetailSubmission()">
                        <h2>Doctor Detail
                        </h2>
                        <div>
                                <div>
                                        <label>First Name:</label>
                                        <input type="text" name="first_name" placeholder="Enter first name"
                                                class="form-control" id="first_name" formControlName="first_name"><br>
                                </div>
                                <div *ngIf="f.first_name?.touched && f.first_name?.invalid" class="alert alert-danger">
                                        <div *ngIf="f.first_name.errors?.required">First Name is required.</div>
                                        <div *ngIf="f.first_name.errors?.minlength">First Name should be 3 character.
                                        </div>
                                </div>
                                <div>
                                        <label>Last Name:</label>
                                        <input type="text" name="last_name" placeholder="Enter last name"
                                                class="form-control" id="last_name" formControlName="last_name"
                                                name="last_name"><br>
                                </div>
                                <div *ngIf="f.last_name?.touched && f.last_name?.invalid" class="alert alert-danger">
                                        <div *ngIf="f.last_name.errors?.required">Last Name is required.</div>
                                        <div *ngIf="f.last_name.errors?.minlength">Last Name should be 3 character.
                                        </div>
                                </div>
                                <div><label for="gender">Gender</label><br>
                                        <input type="radio" name="gender" value="male" id="male"
                                                formControlName="gender" (change)="genderSelection()"> Male<br>
                                        <input type="radio" name="gender" value="female" id="female"
                                                formControlName="gender" (change)="genderSelection()"> Female<br>
                                </div>
                                <div>
                                        <label>Email</label>
                                        <input id="emailId" type="text" formControlName="emailId" class="form-control">

                                </div>
                                <div class="form-group">
                                        <label>Aadhar</label>
                                        <input id="aadhar" type="text" formControlName="aadhar" class="form-control">
                                </div><br>
                                <div>
                                        <label for="mobileNo">Mobile No</label>
                                        <input type="text" class="form-control" id="mobileNo" formControlName="mobileNo"
                                                name="mobileNo"><br>
                                </div>
                                <div *ngIf="f.mobileNo?.touched && f.mobileNo?.invalid" class="alert alert-danger">
                                        <div *ngIf="f.mobileNo.errors?.required">Mobile No is required.</div>
                                        <div *ngIf="f.mobileNo.errors?.minlength">Mobile No should have 10 Digits.
                                        </div>
                                </div>

                                <h2>Choose the location of our Organisation to you want be a part.</h2>
                                <label for="location">location:</label>
                                <select formControlName="location" class="form-control">
                                        <option disabled>Select location</option>
                                        <option>Choose location</option>
                                        <option *ngFor="let web of locationList" value="{{web._id}}">{{web.location}}
                                        </option>
                                </select>
                                <div *ngIf="f.location?.touched && f.location?.invalid" class="alert alert-danger">
                                        <div *ngIf="f.location.errors?.required">Name is required.</div>
                                </div>



                                <div>
                                        <h2>Educational Qualifications:</h2>
                                        <label for="qualification">Qualification</label>
                                        <input type="text" name="qualification" placeholder="Enter Qualification"
                                                class="form-control" id="qualification" formControlName="qualification"
                                                name="qualification"><br>
                                        <div *ngIf="f.qualification?.touched && f.qualification?.invalid"
                                                class="alert alert-danger">
                                                <div *ngIf="f.qualification.errors?.required">Entering Qualification is
                                                        required.
                                                </div>
                                                <div *ngIf="f.qualification.errors?.minlength">Qualification should be 3
                                                        character.
                                                </div>
                                        </div>
                                        <label for="institutionName">Institution Name</label>
                                        <input type="text" name="insti_name" placeholder="Enter Institution name"
                                                class="form-control" id="insti_name" formControlName="insti_name"
                                                name="insti_name"><br>
                                        <div *ngIf="f.insti_name?.touched && f.insti_name?.invalid"
                                                class="alert alert-danger">
                                                <div *ngIf="f.insti_name.errors?.required">Institution Name is required.
                                                </div>
                                                <div *ngIf="f.insti_name.errors?.minlength">Institution Name should be 3
                                                        character.
                                                </div>
                                        </div>
                                </div>
                                <h2>Job</h2>
                                <label for="desig">Institution Name</label>
                                <input type="text" name="desig" placeholder="Enter Institution name"
                                        class="form-control" id="desig" formControlName="desig" name="desig"><br>
                                <div *ngIf="f.desig?.touched && f.desig?.invalid" class="alert alert-danger">
                                        <div *ngIf="f.desig.errors?.required">Institution Name is required.
                                        </div>

                                </div>


                                <label>Organisation Name:</label>
                                <input type="text" name="org_name" class="form-control" id="org_name"
                                        formControlName="org_name" name="org_name"><br>
                                <div *ngIf="f.org_name?.touched && f.org_name?.invalid" class="alert alert-danger">
                                        <div *ngIf="f.org_name.errors?.required">Organisation Name is required.
                                        </div>
                                </div>

                        </div>
                        <div> <button class="btn btn-primary" type="submit">Submit</button>&nbsp;&nbsp;
                                <button class="btn btn-primary" type="button" (click)="doctor()">List of Doctor in an
                                        Organisation</button>
                        </div>

                </form>
                <table align="center">
                        <tr>
                                <td>First Name</td>
                                <td>Last Name</td>
                                <td>Gender</td>
                                <td>Type</td>
                                <td>Mobile Number</td>
                                <td>Mail Id</td>
                        </tr>
                        <tr *ngFor="let obj of doctordetails">
                                <td>{{obj.first_name}}</td>
                                <td>{{obj.last_name}}</td>
                                <td>{{obj.gender}}</td>
                                <td>{{obj.type}}</td>
                                <td>{{obj.mobileNo}}</td>
                                <td>{{obj.emailId}}</td>
                                <!-- <td>{{obj.zip}}</td> -->
                        </tr>
                </table>

        </div>
</div>