<div class="buildCommunity">
    <div class="linkToForm">
        <div></div>
        <div></div>
        <div></div>
    </div>
    <div class="community_aim">
        <div class="community_aim_definition">
            <h1><strong>Let's make dreams come true </strong></h1>
            <div><span>Together</span>
                <div class="community_aim_text">
                    We strive to make MAK the best place to work. Together we celebrate our commitment
                    to make a real and lasting impact in the lives of the people we support and others with
                    disabilities. We
                    believe that we can always strive for better for those we support. We offer compassion, inspiration,
                    dignity, and inclusion for all. We are empowered to make a difference and grateful for the
                    dedication
                    and devotion we share with the persons we support, their families, and each other every day. It is
                    our
                    vision that our mission will empower each person to realize their dreams and live a meaningful life
                    in
                    their community.</div>
            </div>
            <a href="who_we_are">Join</a>


        </div>
        <div class="community_image"><img src="../../images/pc.jpg" alt="Motivating Image" class="community_img"></div>
    </div>
    <div class="core_value">
        <h3>CORE VALUES</h3>
        <h1>
            Our core values bring...</h1>
        <div class="core_row1">
            <div class="respect">
                <h5>Respect</h5><br>
                We trust and value each other as professional members of the MAK family and appreciate one another's
                unique talents, optimism, and energy.
            </div>
            <div class="integrity">
                <h5>Integrity</h5><br>We are empowered to make a difference and grateful for the dedication and devotion
                we share with the persons we support, their families, and each other every day.
            </div>
            <div class="innovation">
                <h5>Innovation</h5><br>We recognize our exceptional level of services provided and appreciate what every
                stakeholder brings to the table.
            </div>
        </div>
        <div class="core_row2">
            <div class="compassion">
                <h5>Compassion</h5><br>We believe that we can always strive for better for those we support. We offer
                compassion, inspiration, dignity, and inclusion for all.
            </div>
            <div class="accountability">
                <h5>Accountability</h5><br>We strive to make MAK the best place to work.
            </div>
            <div class="perseverance">
                <h5>Perseverance</h5><br>Together we celebrate our commitment to make a real and lasting impact in the
                lives of the people we support and others with disabilities.
            </div>
        </div>
    </div>