<div class="container">
    <!-- <h1>Angular Select Dropdown Example - ItSolutionStuff.com</h1> -->

    <form [formGroup]="volunteerForm" (ngSubmit)="submit()">

        <div class="form-group">
            <label for="volunteer">volunteer:</label>
            <select formControlName="volunteer" class="form-control">
                <option disabled>Select volunteer</option>
                <option>Choose volunteer</option>
                <option *ngFor="let web of volunteerList" value="{{web['_id']}}">{{web.first_name}}</option>
            </select>
            <!-- <div *ngIf="f.volunteer.touched && f.volunteer.invalid" class="alert alert-danger">
                <div *ngIf="f.volunteer.errors.required">Name is required.</div>
            </div> -->
        </div>

        <button class="btn btn-primary" type="submit" (ngSubmit)="submit()">Submit</button>
    </form>
</div>