<div class="patientForm">
    <form [formGroup]="patientForm" (ngSubmit)="submit()">
        <h2><br />Patients Details Form</h2>

        <div>
            <label>First Name</label>
            <input type="text" name="f_name" class="form-control" id="f_name" formControlName="f_name">
        </div>
        <!-- <div *ngIf="f.f_name?.touched && f.f_name?.invalid" class="alert alert-danger">
            <div *ngIf="f.f_name.errors?.required">First Name is required.</div>
            <div *ngIf="f.f_name.errors?.minlength">First Name should be 3 character.
            </div>
        </div> -->

        <label>Last Name:</label><br>
        <input type="text" name="l_name" class="form-control" id="l_name" formControlName="l_name" name="l_name">
        <!-- <div *ngIf="f.l_name?.touched && f.l_name?.invalid" class="alert alert-danger">
            <div *ngIf="f.l_name.errors?.required">Last Name is required.</div>
            <div *ngIf="f.l_name.errors?.minlength">Last Name should be 3 character.
            </div>
        </div><br> -->
        <h3><br />Patients Info</h3>
        <p>
            <label>Date of birth:
                <input type="date" name="dob" class="form-control" id="dob" formControlName="dob" name="dob">
            </label>
        </p>
        <div>
            <h5>Gender:</h5>
            <p><input type="radio" name="gender" formControlName="gender" (change)="changeGender()" value="male">Male
            </p>
            <p><input type="radio" name="gender" formControlName="gender" (change)="changeGender()"
                    value="female">Female
            </p>
        </div>

        <p>
            <label>Age:
                <input type="tel" name="age" class="form-control" id="age" formControlName="age" name="age">
            </label>
        </p>
        <div>
            <label for="location">location:</label>
            <select formControlName="location" class="form-control">
                <option disabled>Select location</option>
                <option>Choose location</option>
                <option *ngFor="let web of locationList" value={{web._id}}>{{web.location}}</option>
            </select>
            <!-- <div *ngIf="f.location?.touched && f.location?.invalid" class="alert alert-danger">
                <div *ngIf="f.location.errors?.required">Name is required.</div>
            </div> -->
        </div>
        <div>
            <label for="bloodgroup">Blood Group:</label>
            <select formControlName="bloodgroup" class="form-control">
                <option disabled>Select BloodGroup</option>
                <option>Choose BloodGroup</option>
                <option *ngFor="let group of bloodGroup">{{group}}</option>

            </select>
        </div>
        <div class="form-group">
            <label>Aadhar</label>
            <input id="aadhar" type="text" formControlName="aadhar" class="form-control" name="aadhar">
        </div><br>

        <p>
            <label>Phone Number:</label>
            <input type="tel" name="phone_number" class="form-control" id="phone_number" formControlName="phone_number">

        </p>

        <p>
            <label>Email:
            </label>
            <input type="email" class="form-control" id="email" formControlName="email" name="email">
        </p>
        <div>
            <label for="disability">
                Disorder:
            </label>

            <input type="text" class="form-control" id="disorder" formControlName="disorder" name="disorder">
        </div><br>
        <div>

        </div><br>
        <label for="listofvolunteer">volunteer:</label>
        <select formControlName="listofvolunteer" class="form-control">
            <option disabled>Select volunteer</option>
            <option>Choose volunteer</option>
            <option *ngFor="let web of volunteerList" value="{{web['_id']}}">{{web.first_name}}</option>
        </select><br>


        <div>
            <button class="btn btn-primary" type="submit">Submit</button>&nbsp;&nbsp;
            <button class="btn btn-primary" type="button" (click)="patient()">Patient List in Our Organisation</button>
        </div>

    </form>
    <table align="center">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Gender</th>
            <th>Type</th>
            <th>Mobile Number</th>
            <th>Mail Id</th>
            <th>Disorder</th>
            <th>Volunteer List</th>
        </tr>
        <tr *ngFor="let patient of patientRecord">
            <td>{{patient.f_name}}</td>
            <td>{{patient.l_name}}</td>
            <td>{{patient.gender}}</td>
            <td>{{patient.type}}</td>
            <td>{{patient.phone_number}}</td>
            <td>{{patient.email}}</td>
            <td>{{patient.disorder}}</td>
            <td>{{patient.Volunteer}}</td>
        </tr>
    </table>
</div>