<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>logo</title>
</head>

<body>
    <div class="logo_area">
        <img alt="Make a Family" src="../images/projectLogo.jpg" class="logo">
        <h5>Make a<br>
            <span>Family</span>
        </h5>
        <p><em>Helping persons with disabilities</em></p>
    </div>
</body>

</html>