* {
    color: aliceblue;
    font-family: 'Times New Roman', sans-serif;
}

.stars_intro {
    background-image: url('../../images/76YS.gif');
    margin-top: 15vh;
    padding-top: 15vh;


}

.star_images_row1,
.star_images_row2,
.star_images_row3 {
    display: flex;
    flex-direction: row;
    height: 40vh;
    justify-content: space-between;
    width: 1200px;
}

.star_img {
    border: 0.5px solid white;
    box-shadow: rgb(25, 241, 231);
    height: 100%;
    margin-left: 70px;
    transition: transform .2s;
    width: 100%;
}

.star_img:hover {
    transform: scale(1.5);
}

.stars_intro_definition {
    color: blue;
    font-size: 30px;
    font-style: oblique;
    font-weight: 500;
    padding: 15px;
    text-align: center;
    text-shadow: aqua;
}

.heading_content {
    padding-bottom: 10vh;
}

.heading {
    color: blue;
    font-size: 35px;
    font-weight: 500;
    margin-top: -15vh;
    padding-bottom: 10vh;
    padding-top: 15vh;
    text-align: center;
    text-shadow: aqua;
}

.about_achivers {
    border-radius: 0px 16px;
    border: 5px solid rgb(248, 242, 242);
    font-family: Apple Chancery, cursive;
    height: 83vh;
    margin-left: 200px;
    margin-top: 15vh;
    width: 900px;
}

.motivation_head {
    font-size: 30px;
    line-height: 40px;
    padding: 40px;
    text-align: center;
    word-spacing: 10px;
}

.motivation_body {
    font-size: 23px;
    line-height: 35px;
    padding-left: 30px;
    padding-right: 30px;
}

.stars_travel {
    background-image: url('../../images/wp3284831-backgrounds-for-html-gif.gif');
    border-radius: 0px 16px;
    border: 5px solid rgb(247, 250, 250);
    font-size: 18px;
    height: 640vh;
    line-height: 18px;
    margin-left: 180px;
    margin-top: 10vh;
    padding: 4%;
    width: 950px;
}

.arunimaSinha,
.sudhaChandran,
.girishSharma,
.jyotiAmge,
.harryBonifacePrabhu,
.preethiSrinivasan,
.bharatKumar,
.lalitKumar,
.ravindraJain,
.ramakrishnan,
.saiPrasadVishwanathan {
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    height: 45vh;
    justify-content: space-between;
    margin-left: 50px;
    padding: 20px;
    width: 700px;
}

.sudhaChandran,
.lalitKumar,
.bharatKumar,
.ramakrishnan,
.ravindraJain {
    margin-top: 15vh;
}

.saiPrasadVishwanathan {
    margin-top: 10vh;
}

.harryBonifacePrabhu,
.jyotiAmge {
    margin-top: 20vh;
}

.arunimaSinhaDetail,
.sudhaChandranDetail,
.girishSharmaImage,
.jyotiAmgeImage,
.preethiSrinivasanImage,
.bharatKumarDetail,
.lalitKumarImage,
.ravindraJainDetail,
.ramakrishnanImage,
.saiPrasadVishwanathanDetail {
    float: left;
}

.arunimaSinhaImage,
.sudhaChandranImage,
.girishSharmaDetail,
.jyotiAmgeDetail,
.harryBonifacePrabhuDetail,
.preethiSrinivasanDetail,
.bharatKumarImage,
.lalitKumarDetail,
.ravindraJainImage,
.ramakrishnanDetail,
.saiPrasadVishwanathanImage {
    float: right;
}

.arunimaSinhaDetail,
.girishSharmaDetail,
.jyotiAmgeDetail,
.preethiSrinivasanDetail {
    height: 100%;
    width: 75%;
}

.harryBonifacePrabhuDetail,
.bharatKumarDetail,
.ravindraJainDetail,
.saiPrasadVishwanathanDetail {
    height: 100%;
    margin-right: 10%;
    width: 70%;
}

.saiPrasadVishwanathanDetail {
    margin-top: 10vh;
}

.lalitKumarDetail,
.ramakrishnanDetail {
    margin-left: 120px;
}

.arunimaSinhaDetail {
    padding: 20px;
}

.jyotiAmgeDetail {
    margin-top: -6vh;
    padding-left: 120px;
}

.girishSharmaDetail {
    margin-left: 100px;
    margin-top: 5vh;
    padding: 40px;
}

.sudhaChandranDetail {
    height: 100%;
    width: 80%;
}

.ravindraJainDetail {
    margin-top: 5vh;
}

.arunimaSinhaImage,
.sudhaChandranImage,
.girishSharmaImage,
.jyotiAmgeImage,
.harryBonifacePrabhuImage,
.preethiSrinivasanImage,
.bharatKumarImage,
.lalitKumarImage,
.ravindraJainImage,
.ramakrishnanImage,
.saiPrasadVishwanathanImage {
    height: 100%;
    margin-left: -30px;
    width: 30%;
}

.arunimaSinhaImage {
    margin-left: 50px;
    margin-top: -1vh;
}

.sudhaChandranImage {
    margin-top: 10vh;
}

.girishSharmaImage {
    margin-top: 1vh;
}

.girishSharmaImage {
    height: 250px;
    width: 250px;
}

.arinimaProfile,
.girishSharmaProfile,
.jyotiAmgeProfile,
.harryBonifacePrabhuProfile,
.preethiSrinivasanProfile,
.bharatKumarProfile,
.lalitKumarProfile,
.ravindraJainProfile,
.ramakrishnanProfile,
.saiPrasadVishwanathanProfile {
    height: 250px;
    width: 250px;
}

.sudhaChndranProfile {
    height: 250px;
    margin-left: -100px;
    width: 250px;
}

.preethiSrinivasanDetail {
    margin-left: 18%;
}

.jyotiAmgeProfil,
.arinimaProfile,
.sudhaChndranProfile,
.girishSharmaProfile,
.jyotiAmgeProfile,
.harryBonifacePrabhuProfile,
.preethiSrinivasanProfile,
.bharatKumarProfile,
.lalitKumarProfile,
.ravindraJainProfile,
.ramakrishnanProfile,
.saiPrasadVishwanathanProfile {
    border-radius: 100%;
}

.arinimaProfile:hover,
.girishSharmaProfile:hover,
.sudhaChndranProfile:hover,
.jyotiAmgeProfile:hover,
.harryBonifacePrabhuProfile:hover,
.preethiSrinivasanProfile:hover,
.bharatKumarProfile:hover,
.lalitKumarProfile:hover,
.ravindraJainProfile:hover,
.ramakrishnanProfile:hover,
.saiPrasadVishwanathanProfile:hover {
    height: 300px;
    margin-top: -20px;
    width: 300px;
}