<button class="btn btn-primary" type="button" (click)="logoutClick()" id="logoutbutton">Logout</button>
<div class="main">
    <div class="volunteerContainer">
        <form [formGroup]="volunteerform" *ngIf="isShown">
            <h1>Volunteer Detail
            </h1>
            <div>
                <div>
                    <label for="first_name">First Name:</label>
                    <input type="text" class="form-control" id="first_name" formControlName="first_name"
                        name="first_name"><br>
                </div>
                <div *ngIf="f.first_name?.touched && f.first_name?.invalid" class="alert alert-danger">
                    <div *ngIf="f.first_name.errors?.required">First Name is required.</div>
                    <div *ngIf="f.first_name.errors?.minlength">First Name should be 3 character.
                    </div>
                </div>
                <div>
                    <label for="last_name">Last Name:</label>
                    <input type="text" class="form-control" id="last_name" formControlName="last_name"
                        name="last_name"><br>
                </div>
                <div *ngIf="f.last_name?.touched && f.last_name?.invalid" class="alert alert-danger">
                    <div *ngIf="f.last_name.errors?.required">Last Name is required.</div>
                    <div *ngIf="f.last_name.errors?.minlength">Last Name should be 3 character.
                    </div>
                </div>
                <div><label for="gender">Gender</label><br>
                    <input type="radio" name="gender" value="male" id="gender" formControlName="gender"
                        (change)="genderSelection()"> Male<br>
                    <input type="radio" name="gender" value="female" id="gender" formControlName="gender"
                        (change)="genderSelection()"> Female<br>
                </div><br>
                <div>
                    <label for="emailId">Email</label>
                    <input id="emailId" type="email" formControlName="emailId" class="form-control"><br>
                    <div *ngIf="f.emailId?.invalid && f.emailId?.touched">
                        <div *ngIf="f.emailId.errors?.required" class="alert alert-danger">
                            Email is required</div>
                        <div *ngIf="f.emailId.errors?.invalid" class="alert alert-danger">Please
                            provide
                            a valid email address</div>
                    </div>
                </div>
                <div>
                    <label for="mobileNo">Mobile No</label>
                    <input type="text" class="form-control" id="mobileNo" formControlName="mobileNo"
                        name="mobileNo"><br>
                </div>
                <div *ngIf="f.mobileNo?.touched && f.mobileNo?.invalid" class="alert alert-danger">
                    <div *ngIf="f.mobileNo.errors?.required">Mobile Number is required.</div>
                    <div *ngIf="f.mobileNo.errors?.minlength">Mobile Number should have minimum 10 Digits.</div>
                    <div *ngIf="f.mobileNo.errors?.maxlength">Mobile Number should have maximum 10 Digits.
                    </div>
                </div>
                <div>
                    <h3>Choose the location of our Organisation to you want be a part.</h3>

                    <select formControlName="Location" class="form-control">
                        <option disabled>Select location</option>
                        <option>Choose location</option>
                        <option *ngFor="let web of locationList" value={{web._id}}>{{web.location}}</option>
                    </select><br>

                </div>

                <label for="aadhar">Aadhar</label>
                <input id="aadhar" type="tel" formControlName="aadhar" class="form-control"><br>
                <div *ngIf="f.aadhar?.touched && f.aadhar?.invalid" class="alert alert-danger">
                    <div *ngIf="f.aadhar.errors?.required">Aadhar Number is required.</div>
                    <div *ngIf="f.aadhar.errors?.minlength">Aadhar should have minimum 12 Digits.
                    </div>
                    <div *ngIf="f.aadhar.errors?.maxlength">Aadhar should have maximum 12 Digits.
                    </div>
                </div>
                <label for="job">Job:</label>
                <input type="text" class="form-control" id="job" formControlName="job" /><br>
                <div *ngIf="f.job?.touched && f.job?.invalid" class="alert alert-danger">
                    <div *ngIf="f.job.errors?.required">Job detail is required.
                    </div>
                    <div *ngIf="f.job.errors?.minlength">Job should have minimum 2 Character.
                    </div>
                </div><br>

            </div>
            <div><button class="btn btn-primary" (click)="toggleShown()" type="checkbox">Submit
                </button>
                <button class="btn btn-primary" (click)="toggleHide()" type="checkbox">Volunteer List in MAF
                </button>
                <button class="btn btn-primary" (click)="toggleShow()" type="checkbox">Volunteer List Added by You
                </button>
            </div><br>

        </form>
        <div *ngIf="isHide">
            <h2>Volunteer List in Our Organisation</h2>
            <table>
                <caption>Volunteer List in Our Organisation</caption>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Gender</th>
                    <th>Type</th>
                    <th>Mobile Number</th>
                    <th>Mail Id</th>
                </tr>
                <tr *ngFor="let one of volunteerallRecord">
                    <td>{{one.first_name}}</td>
                    <td>{{one.last_name}}</td>
                    <td>{{one.gender}}</td>
                    <td>{{one.type}}</td>
                    <td>{{one.mobileNo}}</td>
                    <td>{{one.emailId}}</td>
                </tr>
            </table>
            <a class="btn btn-primary" href="volunteer" id="redirecting">To Join
                in Our
                Organisation</a>
        </div>
        <div *ngIf="isShow">
            <h2>Volunteer List in an Organisation</h2>
            <table>
                <caption>Volunteer List in an Organisation</caption>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Gender</th>
                    <th>Type</th>
                    <th>Mobile Number</th>
                    <th>Mail Id</th>
                </tr>
                <tr *ngFor="let one of volunteerRecord">
                    <td>{{one.first_name}}</td>
                    <td>{{one.last_name}}</td>
                    <td>{{one.gender}}</td>
                    <td>{{one.type}}</td>
                    <td>{{one.mobileNo}}</td>
                    <td>{{one.emailId}}</td>
                </tr>
            </table>
            <a class="btn btn-primary" href="volunteer" id="redirecting">To Join
                in Our
                Organisation</a>
        </div>
    </div>
</div>