<button class="btn btn-primary" type="button" (click)="logoutClick()" id="logoutbutton">Logout</button>
<div class="who_we_are">
    <div class="login_page">
    </div>
    <div class="about_mak">
        <div class="about_mak_definition">
            <h1><strong>Providing a Community to Cultivate and Grow
                    <span>happiness</span></strong></h1>At Make A Family, Inc., we help persons with disabilities find
            happiness in their own homes, in their personal relationships, and as contributing members of their
            community.
        </div>
        <div class="about_mak_image"><img src="../../images/family.jpg" class="mak_image" alt="Make a Family">
        </div>
    </div>
    <div class="successStories">
        <div class="successStoryImage"><img class="successStoryImages" src="../../images/download.jpg"
                alt="Success Story Image">
        </div>
        <div class="successStory">
            <h4><strong>LIVING LIFE WELL</strong></h4>
            <strong>
                <h1>Community Systems presents some of our favorite <a href="oursuccess">success
                        stories.</a>
                </h1>
            </strong>
            Each represents a triumph over adversity and inspires the staff and families who know them. We all feel
            very
            fortunate to have played a supporting role.
        </div>
    </div>
    <div><img src="../../images/Premium Vector _ Hand with love shape logo vector.jpg" alt="Helping Image"
            class="helpingImg"></div>
    <div class="state_details">
        <h1>A Eight-state
            family</h1>
        At Make A Family, Inc., we help persons with disabilities find <span>happiness</span> in their own homes, in
        their
        personal relationships, and as contributing members of their community.
    </div>
    <div class="mak_details">
        <h1>About MAK</h1>
        At Make A Family, Inc., Community Systems, Inc. is a four-­state family of non­-profit, tax exempt
        corporations
        whose mission is helping persons with disabilities to find happiness in their own homes, in their personal
        relationships, and as contributing members of their community.
    </div>
    <div class="mission">
        <div class="mission_details">
            <h1>OUR MISSION</h1>

            Helping persons with disabilities to find happiness in their own homes, in their personal relationships,
            and
            as
            contributing members of their community.
        </div>
        <div class="missionImages"><img src="../../images/Race The Sun - Sponsored Walk - CanalAbility.jpg"
                alt="Mission Image" class="missionImg">
        </div>
    </div>
    <div class="registerForm">
        <div class="volunteer">
            <h1>Volunteer</h1>
            <h3>for Social Inclusion</h3><br>
            When all people can engage as members of the economy and participate in community events and
            associations,
            then our family becomes stronger. Your partnership with MAK ensures that you are building a socially
            inclusive and welcoming community — guaranteeing that happiness can not only grow here — it can blossom.
        </div>
        <div class="donate">
            <h1>Invest</h1>
            <h3>in a Stronger Community</h3><br>

            A donation can help fulfill our mission to help persons with disabilities find happiness as a
            contributing
            member of their community. As a donor, you not only help us create the conditions to support happiness,
            you
            become a change agent for promoting social inclusion. MAK is a 501(c)(3) tax-exempt organization.
        </div>
        <div class="volunteerDoctor">
            <h1>Candy Stripers</h1>
            <h3>To Protect Family'</h3><br>HealthCare Volunteer is a non-profit organization that connects volunteers
            with a
            health-related volunteering opportunity.MAK Inc., provides medical, dental, and surgical services to
            needy
            patients and impoverished people worldwide, through indirect and direct patient-care programs.

            The company also provides a social networking application that allows health volunteers to connect with
            each
            other and create new volunteer teams.

        </div>
    </div>
    <div class="links">
        <div class="volunteer">
            <h2><a href="volunteer">To Join</a></h2>

        </div>
        <div class="donate">
            <h2><a href="donate">To Help</a></h2>

        </div>
        <div class="volunteerDoctor">
            <h2><a href="doctorList">For Service</a></h2>

        </div>
    </div>

</div>