<nav class="heading">
  <p class="nav_statement">MAF's statement on the coronavirus outbreak:&nbsp;&nbsp;<a href="" class="nav_links">READ
      MORE ></a></p>
</nav>
<div>
  <nav class="option">
    <div class="topnav" align="right">
      <button class="menu" type="submit">Stay Connected</button>
      <button class="menu" type="submit">Contact</button>
      <button class="menu" type="submit">Partner</button>
      <button class="menu" type="submit">Donate</button>
    </div>
  </nav>
  <nav class="dropdownlist">
    <div class="nav_button" align="right">
      <div class="dropdown">
        <button class="dropdownmenu" type="submit">Who We Are</button>
        <div class="dropdown-content">
          <a href="#">About MAF</a>
          <a href="#">MAF Divisions</a>
          <a href="#">Leadership Tem</a>
          <a href="#">Support and Management Services</a>
        </div>
      </div>
      <div class="dropdown">
        <button class="dropdownmenu" type="submit">Who We Support</button>
        <div class="dropdown-content">
          <a href="#">Autistic Disorder</a>
          <a href="#">Brain Injury</a>
          <a href="#">Challenging Behaviours</a>
          <a href="#">Deaf/Blindness</a>
          <a href="#">Development Disabilities</a>
          <a href="#">Dual Diagnoses</a>
          <a href="#">Physical Disabilities</a>
          <a href="#">Prader-Willi Syndrome</a>
        </div>
      </div>
      <div class="dropdown">
        <button class="dropdownmenu" type="submit">How We Support</button>
        <div class="dropdown-content">
          <a href="#">Case Managent</a>
          <a href="#">Supported Employment</a>
          <a href="#">Residential Supports</a>
          <a href="#">Acquired & Traumatic Brain Injury</a>
        </div>
      </div>
      <button class="dropdownmenu" type="submit">Our Successes</button>
      <button class="dropdownmenu" type="submit">Careers</button>
    </div>
  </nav>
  <div class="logo_position">
    <app-logo></app-logo>
  </div>
</div>

<!-- <div>
  <app-family-system></app-family-system>
</div> -->