<div class="contact">
    <div class="contact_aim">
        <div class="contact_aim_definition">
            <h1><strong>You Can Make Impossible Dreams <div><span>Posssible</span></div></strong>
            </h1>
            Whether you're a family looking for supports for your loved one or an
            organization hoping to partner with ours, we thank you for taking the first step to cultivate and grow
            happiness. Give us a call or email us for additional information or ways we can help
        </div>
        <div class="contact_image"><img src="../../images/running.gif" alt="Motivating Image" class="running_img"></div>
    </div>
    <div class="contact_us">
        <div class="contact_us_definition">
            <h2>CONTACT</h2>
            <h3><strong>You can make impossible dreams possible for persons with disabilities.</strong></h3>Whether
            you're a
            family looking for supports for your loved one or an organization hoping to partner with ours, we thank you
            for taking the first step to cultivate and grow happiness. Give us a call or email us for additional
            information or ways we can help.
        </div>
        <div class="contact_us_image"><img src="../../images/DAR – theCHIVE.jpg" alt="contact_us_image"
                class="contact_us_images"></div>
    </div>
    <div class="branch">
        <div class="branch_row1">
            <div class="tnbranch1">
                <h5>Tamil Nadu</h5><br>
                Karthik,<br>MAK Inc.<br>Executive Director,<br>No:420,tdy Bypass Road,<br>Coimabtore,<br>Tamil
                Nadu.<br><br>Phone : 90876547980<br>Email:karthik@343.gmail.com<br>Fax: (960) 482-89088
            </div>
            <div class="apbranch2">
                <h5>Andra Pradesh</h5><br>Akila Reddy,<br>Executive Director,<br>MAK
                Inc.<br>No:14/16,<br>SumanRajPathiriReddy
                Road,<br>Kakinada,<br>AndhraPradesh.<br><br>Phone : 90872345621<br>Email:akil@97898.gmail.com<br>Fax:
                (900) 482-2123
            </div>
            <div class="kerbranch3">
                <h5>Kerala</h5><br>Annie Deborah,<br>MAK Inc.<br>Executive Director,<br>No:11,<br>NsNAk
                MAla,<br>Kolikodu<br>Kerala<br><br>Phone : 90876532987<br>Email:deborah@48798.gmail.com<br>Fax: (760)
                0987-2678
            </div>
        </div>
        <div class="branch_row2">
            <div class="punbranch4">
                <h5>Punjab</h5><br>Janisa Singh,<br>MAK Inc.<br>Executive Director,<br>No:328,Sathiyababa
                Nagar,<br>Punjab<br><br>Phone : 9087654321<br>Email:janisa@38798.gmail.com<br>Fax: (860) 482-2678
            </div>
            <div class="mumbranch5">
                <h5>Mumbai</h5><br>Mahir,No 35A,<br>MAK Inc.<br>Executive Director,<br>Honey Bee
                Colony,<br>Dharabi,<br>Mumbai<br><br>Phone : 45677654321<br>Email:mahir@98.gmail.com<br>Fax: (360)
                342-2678
            </div>
            <div class="delbranch6">
                <h5>Delhi</h5><br>Ahad Khan,<br>MAK Inc.<br>Executive Director,<br>No:173,<br>Agra,<br>New
                Delhi<br><br>Phone : 9087654321<br>Email:ahadKhan@38798.gmail.com<br>Fax: (980)0958-2678
            </div>
        </div>
        <div class="branch_row3">
            <div class="rajbranch7">
                <h5>Rajastan</h5><br>Sumithran Shetty,<br>MAK Inc.<br>Executive Director,<br>No:89,<br>Sagara
                Desert,<br>Rajastan<br><br>Phone : 90876532521<br>Email:sumithran@67798.gmail.com<br>Fax: (891)
                3242-2678
            </div>
            <div class="gujbranch8">
                <h5>Gujarat</h5><br>Pawan Sherawat,<br>MAK Inc.<br>Executive Director,<br>No:908,Near Kabadi
                Ground,<br>Tahr Desert,<br>Gujarat<br><br>Phone : 879898654321<br>Email:sherwat@1998.gmail.com<br>Fax:
                (760) 872-2678
            </div>
        </div>
    </div>
</div>