<div class="about_mak">
    <div class="about_mak_definition">
        <h1><b>Providing a Community to Cultivate and Grow
                <span>happiness</span></b></h1>At Make A Family, Inc., we help persons with disabilities find
        happiness in their own homes, in their personal relationships, and as contributing members of their
        community.
    </div>
    <div class="about_mak_image"><img src="../../images/family.jpg" class="mak_image" alt="Make a Family">
    </div>
</div>
<div class="home">
    <div class="loginform">
        <form [formGroup]="loginform" (ngSubmit)="login(this.loginform.value)">
            <div class="form-group">
                <label>Aadhar Number</label>
                <input type="text" id="aadhar" formControlName="aadhar" class="form-control"
                    placeholder="Enter aadhar number">
                <div class="help-block text-danger" *ngIf="aadhar?.touched">
                    <span *ngIf="aadhar.errors?.required"> aadhar is REQUIRED!!! </span>
                    <span *ngIf="aadhar.errors?.aadhar"> aadhar is invalid!!! </span>
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" class="form-control" id="Password" formControlName="Password"
                        placeholder="Password" name="Password"><br><br>
                    <div class="help-block text-danger" *ngIf="Password?.touched">
                        <span *ngIf="Password.errors?.required"> Password is REQUIRED!!! </span>
                        <span *ngIf="Password.errors?.Password"> Password is invalid!!! </span>
                    </div>
                </div>
                <div><button type="submit" class="btn">Login</button><a href="signUp">New User</a></div>
            </div>
        </form>
    </div>
    <div class="loginpage">
        <img src="../../images/login-image.jpg" alt="focusing" class="focusing">
    </div>
</div>