<div>
    <h2> Address</h2>
    <form [formGroup]="myform" (ngSubmit)="submit()">
        <div class="form-group">
            <label for="aadhar">Aadhar Number</label>
            <input type="text" class="form-control" id="aadhar" name="aadhar" formControlName="aadhar"><br>
        </div>
        <div *ngIf="f.aadhar?.touched && f.aadhar?.invalid" class="alert alert-danger">
            <div *ngIf="f.aadhar.errors?.required">Aadhar Number is required.</div>
            <div *ngIf="f.aadhar.errors?.minlength">Aadhar Number should be 12 character.</div>
        </div>


        <div><label for="temporaryAddress">Temporary Address</label>
            <input type="text" class="form-control" id="temporaryAddress" formControlName="temporaryAddress"
                name="temporaryAddress"><br>
        </div>
        <div *ngIf="f.temporaryAddress?.touched && f.temporaryAddress?.invalid" class="alert alert-danger">
            <div *ngIf="f.temporaryAddress.errors?.required">Temporary Address is required.</div>
            <div *ngIf="f.temporaryAddress.errors?.minlength">Temporary Address should be 30 character.</div>
        </div>
        <div class="form-group"><label for="permanentAddress">Permanent Address</label>
            <input type="text" class="form-control" id="permanentAddress" formControlName="permanentAddress"
                name="permanentAddress"><br>
        </div>
        <div *ngIf="f.permanentAddress?.touched && f.permanentAddress?.invalid" class="alert alert-danger">
            <div *ngIf="f.permanentAddress.errors?.required">Permanent Address is required.</div>
            <div *ngIf="f.permanentAddress.errors?.minlength">Permanent Address should be 30 character.</div>
        </div>

        <div class="form-group"><label for="city">City</label>
            <input type="text" class="form-control" id="city" name="city" formControlName="city" name="city"><br>
        </div>

        <div *ngIf="f.city?.touched && f.city?.invalid" class="alert alert-danger">

            <div *ngIf="f.city.errors?.required">City is required.</div>
            <div *ngIf="f.city.errors?.minlength">City should be 3 character.</div>
        </div>
        <div class="form-group"><label for="state">State/Province</label>
            <input type="text" class="form-control" id="state" name="state" formControlName="state" name="state"><br>
        </div>
        <div *ngIf="f.state?.touched && f.state?.invalid" class="alert alert-danger">
            <div *ngIf="f.state.errors?.required">State is required.</div>
            <div *ngIf="f.state.errors?.minlength">State should be 3 character.</div>
        </div>
        <div class="form-group"><label for="zip">Zip/Postal Code</label>
            <input type="text" class="form-control" id="zip" formControlName="zip" name="zip"><br>
        </div>
        <div *ngIf="f.zip?.touched && f.zip?.invalid" class="alert alert-danger">
            <div *ngIf="f.zip.errors?.required">Zip is required.</div>
            <div *ngIf="f.zip.errors?.minlength">Zip should have 6 digits.</div>
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
        <button type="button" (click)="onDisplay()" class="btn2">Get</button><br>

    </form>
    <table border="3" align="center">
        <tr>
            <td>Aadhar</td>
            <td> TemporaryAddress</td>
            <td>PermanentAddress</td>
            <td>City</td>
            <td>State</td>
            <td>Zip</td>
        </tr>
        <tr *ngFor="let obj of array">
            <td>{{obj.aadhar}}</td>
            <td>{{obj.temporaryAddress}}</td>
            <td>{{obj.permanentAddress}}</td>
            <td>{{obj.city}}</td>
            <td>{{obj.state}}</td>
            <td>{{obj.zip}}</td>
        </tr>
    </table>

</div>